@media all and (orientation:landscape) {

	/* MISC */

	body {
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	}

/*	.view-container {
		margin: 0 2%;
	}*/

	.orientation-warning {
		display: none;
	}

	input {
		-moz-user-select: text;
		-webkit-user-select: text;
		user-select: text;
		color: #333;
	}

	.scrollable {
		overflow-y: auto;
	}

	.hidden {
	    display: none;
	}

	.active {
		color: white;
	}


	/* NAVBAR */

	/* This hides any element with class alert directly after an input field with a pattern (regex) */
	input[pattern] + .alert {
		display: none;
	}

	/* If pattern (regex) is violated alert is shown */
	input[pattern]:invalid + .alert {
		display: inline-block;
	}

	/* If pattern (regex) is violated submit button is hidden */
	input[pattern]:invalid ~ button {
		display: none;
	}

	input:disabled {
		display: none;
	}

	#login-button:disabled {
		display: none;
	}

	.login-button {
		margin: 1%;
		min-width: 6em;
	}

	.username-display .hide {
		display: none;
	}


	/* BODY - ALL */

	.row-fluid {
	    /*width: 98%;*/
	    /*padding-left: 1%;*/
	    padding-top: 50px;
	}

	/* hide a row */
	.row-fluid .hidden {
	    /* TODO: this is a crude way of hiding right now and should be improved */
	    display: none;
	}

	/* BRAINSTORM LIST SCREEN */

	#brainstorm-list-screen {
		padding: 5px;
		border-radius: 7px;
		background-color: red;
	}

/*	#brainstorm-list-screen ul {
		min-height: 200px;
		overflow: hidden;
		background-color: white;
	}

	#brainstorm-list-screen li {
		margin-bottom: 5px;
	}

	#brainstorm-list-screen .list-item {
		margin-left: 15px;
	}

	#brainstorm-list-screen .note {
		position: relative;
		padding: 10px;
		margin: 10px 0;
		width: 50%;
	}*/

	#setup-new-brainstorm-btn {
		margin: 10px;
	}


	/* CLASS FILTER SCREEN */

	#class-filter-list-screen {
		padding: 5px;
		border-radius: 7px;
		background-color: yellow;
	}


@media all and (orientation:portrait){
	.row-fluid {
		display: none;
	}

	.navbar {
		display: none;
	}

	.orientation-warning {
		text-align: center;
		font-size: 2em;
		margin-top: 25%;
	}
}

@media (max-width: 980px) {
	.row-fluid {
		padding-top: 0px;
	}
}

